[Unit]
Description=Jen - The Internet Management Console
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/opt/jen
ExecStart=/usr/bin/python3 /opt/jen/jen.py
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
